// Carbon Design tokens
$spacing-01: 2px;
$spacing-02: 4px;
$spacing-03: 8px;
$spacing-04: 16px;
$spacing-05: 24px;

.biometrics-section {
  .section-title {
    border-bottom: 5px solid #1d8989;
  }
}
